$primary: rgb(240, 240, 240);
$secondary: #003621;
//smaller size for commenting buttons
$smaller: 2.5em;
$commentGrey: #f2f2f2;
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
