#profile .userphoto {
  width: 50px;
  height: 50px;
  border-radius: 10rem;
  border: solid 1px black;
  background-position: center;
  background-size: cover;
  float: left;
  margin-right: 0.5rem;
}
#profile.container {
  max-width: 640px;
}

#updateInfo {
  margin-top: 1rem;
}

form {
  margin: auto;
}

#profile .columns {
  width: 100%;
  margin: auto;
}

#profile table {
  font-size: 0.85em;

  tr td:first-child {
    font-weight: bold;
    text-align: right;
  }
  tr td:nth-child(2) {
    padding-left: 0.5em;
  }
}
