@import "../../app.scss";

body {
  background-image: url("../../../public/img/placeholder_background.jpg");
}

.container.passwordReset {
  max-width: 500px;
  padding: 0 0.5rem;
  margin-top: 5.5rem;
  .box {
    background-color: rgba(250, 250, 250, 0.85);
  }
  input {
    background-color: rgba(250, 250, 250, 0.75);
  }
  input:focus {
    background-color: $light;
  }
  button {
    background-color: $secondary;
    color: $light;
  }
  button:hover,
  button:focus {
    background-color: lighten($secondary, 5.686274509803921);
    color: white;
  }
}
