@import "../../app.scss";

.file-name {
  background-color: white;
}

.file.is-primary .file-cta {
  background-color: lighten(desaturate($color: $secondary, $amount: 0), 0);
  color: $light;

  :hover,
  :focus,
  .is-hovered {
    background-color:
      lighten(
        desaturate($color: $secondary, $amount: 10),
        $amount: 10
      );
    color: $light;
  }
}

.file.is-primary:hover .file-cta,
.file.is-primary.is-hovered .file-cta,
.file.is-primary:focus .file-cta {
  background-color:
    lighten(
      desaturate($color: $secondary, $amount: 10),
      $amount: 10
      );
  color: $light;
}
