@import "../../app.scss";

.file-name {
  background-color: white;
}

.file.is-primary .file-cta {
  background-color: darken(desaturate($color: $tertiary, $amount: 100), 10);
  color: $light;

  :hover,
  :focus,
  .is-hovered {
    background-color:
      lighten(
        desaturate($color: $tertiary, $amount: 100),
        $amount: 5
      );
    color: $dark;
  }
}

.file.is-primary:hover .file-cta,
.file.is-primary.is-hovered .file-cta,
.file.is-primary:focus .file-cta {
  background-color:
    lighten(
      desaturate($color: $tertiary, $amount: 100),
      $amount: 5
      );
  color: $dark;
}
