@import "../../app.scss";

.comments.box {
  margin-top: 1.3rem;
}

.comments.box:not(:last-child) {
  margin-bottom: 0.5rem;
}

.post > div + .comments.box ~ .comments.box,
.event > div + .comments.box ~ .comments.box {
  margin-top: 0;
}

.comments {
  background-color: $commentGrey;
  margin-bottom: 0;
}



.commentWrap {
  margin-top: 1.5rem;
}
