@import "../../app.scss";

.more {
  margin: 0 auto;
  display: block;
  position: relative;
  top: -1rem;
  background-color: $secondary;
  color: $light;
  border-radius: 0 0 0.25rem 0.25rem !important;
}

.more:hover,
.more:active,
.more:focus {
  background-color: lighten($secondary, 5.686274509803921);
  color: $light;
}

.fa-edit {
  cursor: pointer;
  position: absolute;
  top: 1.4rem;
  right: 1rem;
}
