@import "../../src/app.scss";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../node_modules/bulma/sass/form/shared.sass";
@import "../../../node_modules/bulma/sass/form/tools.sass";
@import "../../../node_modules/bulma/sass/form/input-textarea.sass";
@import "../../../node_modules/bulma/sass/form/file.sass";

body {
  background: $secondary;
  font-family: "Montserrat", sans-serif;
  height: var(--bodyHeight);
  overflow: hidden;
}

h2 {
  font-size: 1.2em !important;
  font-weight: 500 !important;
}

//used for event titles
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  color: $secondary;
  margin-bottom: 0.5em;
}

.posts p,
#profile p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  white-space: pre-wrap;
}
.button.is-small {
  font-size: 1em;
  border-radius: 0.25rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div #wrap {
  height: 100vh;
  background-image: url("../img/placeholder_background.jpg");
  background-size: cover;
  background-position: center;
  // overflow-y: scroll;
  padding-bottom: 2rem;
}
.loginBody {
  overflow-y: scroll;
  /* height: calc(100vh - 4rem); */
  padding-bottom: 3rem;
  height: 100%;
}

#main-name {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  background: lightgray;
  color: white;
}

#quote {
  text-align: center;
  font-style: italic;
  color: white;
  font-size: 1.7em;
}

.container {
  position: relative;
  margin-top: 50px;
  padding-top: 40px;
}

#signup-container .box {
  background-color: rgba(250, 250, 250, 0.85);
}

#login {
  border: none;
  margin-top: 10px;
  background-color: none;
  font-size: 0.8em;
}

h1 {
  font-size: 15px;
}

// map style

.main .column {
  height: calc(var(--bodyHeight, 1vh) * 1 - 5.5rem);
  margin-bottom: 1em;
}

.column.events {
  padding-top: 1rem;
}

div.column.events > div {
  position: relative;
  height: calc(100vh - 30px - 5em);
}

//main

h1#title {
  font-size: 24px !important;
  padding-left: 10px;
}

.posts {
  overflow-y: scroll;
  position: relative;
  margin: 10px;
}

.post,
.event {
  position: relative;
}

.posts > .post.box:not(:last-child),
.posts > .event.box:not(:last-child) {
  margin-bottom: 1rem;
}

#loginButton,
#signupButton {
  margin-top: 0.5rem;
  background-color: darken(desaturate($color: $tertiary, $amount: 100), 10);
  color: $light;
}

#loginButton:hover,
#loginButton:focus,
#signupButton:hover,
#signupButton:focus {
  background-color: lighten(
    desaturate($color: $tertiary, $amount: 100),
    $amount: 5
  );
  color: $dark;
}
.badlogin {
  color: red;
  font-size: 0.9em;
}

#submitPost,
#submitEvent {
  margin-top: 0.5rem;
}

#postform,
#eventForm {
  // border: 2px solid white;
  margin: 10px;
  padding: 10px;
  background-color: $commentGrey;
  // background-color: desaturate(lighten($secondary, 64.31372549019608), 85%);
  // background: rgb(214, 214, 214);
  position: absolute;
  // top: 1.3rem;
  width: 270px;
  z-index: 10;
  border-radius: 0 0 0.5rem 0;
}

#replyButton {
  margin-top: 0.5rem;
}

.clearRight {
  clear: right;
}
.imageGroup {
  float: left;
  clear: right;
  padding-right: 1rem;
}

.postPhotos {
  float: right;
  width: calc(100% - 50px - 0.5rem);
  min-height: 78px;
  img {
    border-radius: 0 0.4rem 0 0;
    width: 100%;
  }
}

#newUserForm {
  width: 24rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin-top: 3rem;
  }
  .main .column.posts {
    height: calc(var(--bodyHeight, 1vh) * 1 - 3.5rem);
  }
}

@media only screen and (max-width: 768px) {
  #newUserForm {
    max-width: 80vw;
  }
  .main .column.posts {
    height: calc(var(--bodyHeight, 1vh) * 0.6 - 5rem);
    margin-bottom: 0;
  }
  .main .column.events {
    padding: 0;
    height: calc(var(--bodyHeight, 1vh) * 0.4 - 1.9rem);
  }
  div.column.events > div {
    height: calc(var(--bodyHeight, 1vh) * 0.4 + 1.75rem);
    padding: 0;
  }
  .column {
    margin-bottom: 0;
  }
  body {
    overflow: hidden;
    // height: calc(100vh - 1.85rem);
    height: calc(var(--bodyHeight) * 1);
  }
  .container {
    margin-top: 1em;
  }
}
