@import "../../../src/app.scss";

#imageRemove.imageRemovePopupForms {
  top: 2.4rem;
  right: 0;
  border-radius: 0 0 0.25rem 0.25rem;
}

#postform > .is-smaller,
#eventForm > .is-smaller {
  font-size: 0.7em;
}

#postform,
#eventForm {
  // border: 2px solid white;
  margin: 10px;
  padding: 10px;
  background-color: $commentGrey;
  // background-color: desaturate(lighten($secondary, 64.31372549019608), 85%);
  // background: rgb(214, 214, 214);
  position: absolute;
  // top: 1.3rem;
  width: 270px;
  z-index: 10;
  border-radius: 0 0 0.5rem 0;
  max-height: calc(var(--bodyHeight) - 9.5rem);
  overflow-y: scroll;
}

#replyButton {
  margin-top: 0.5rem;
}


.newPost {
  background-color: $secondary;
  color: $light;
}

.newPost:hover,
.newPost:focus {
  background-color: lighten($secondary, 5.686274509803921);
  color: white;
}

#postform {
  z-index: 10;
}

#replyform {
  margin-top: 1.5rem;
  .postPhotos {
    img {
      max-height:250px;
      max-width:100%;
    }
  }
  .file {
    display: block;
  }
  textarea {
    width: 100%;
    font-size: .85rem;
    margin-bottom: 3rem;
    padding:.5rem;
    border-radius: .25rem;
    border: rgb(219, 219, 219)
  }
  textarea:focus {
    // border: 1px rgb(50, 115, 220) solid;
    outline-offset: -2px;
    outline-width: 2px;
    outline-color: rgb(50, 115, 220);
  }
  #replyButton {
    margin-top: .5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $secondary;
    color: $light;
  }
  .box {
    background-color: lighten( $commentGrey, 5%);
  }
  #replyButton:hover,
  #replyButton:active,
  #replyButton:focus {
  background-color: lighten($secondary, 5.686274509803921);
  color: white;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.loader {
  display: inline-block;
  margin-top: 1em;
  margin-left: 1rem;
}
