@import "../../../src/app.scss";

#imageRemove.imageRemovePopupForms {
  top: 2.4rem;
  right: 0;
  border-radius: 0 0 0.25rem 0.25rem;
}

#postform > .is-smaller,
#eventForm > .is-smaller {
  font-size: 0.7em;
}
.newPost {
  background-color: $secondary;
  color: $light;
}

.newPost:hover,
.newPost:focus {
  background-color: lighten($secondary, 5.686274509803921);
  color: white;
}

#postform {
  z-index: 10;
}
